# Dependencies
/node_modules

# Next.js
/.next/
/out/

# Production build
/build

# Environment variables
.env
.env*.local

# Debug logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db
*.pem

# Vercel
.vercel

# Editor
.vscode/
.idea/

# Testing
/coverage
